<%#= link_to (image_tag("http://www.downloadclipart.net/thumb/18563-red-square-3-vector-thumb.png", :size=> "32x32" )) :remote => true %>
<%#= link_to (image_tag("https://ibraryunus.files.wordpress.com/2012/08/fluorescent-pink-color-coded-label-lsq-400-fp.gif" ) :remote => true %>


<%= link_to image_tag("http://www.downloadclipart.net/thumb/18563-red-square-3-vector-thumb.png", size: "32x32"), categories_path(color:"red"),remote:true %>

<%#= link_to image_tag("https://ibraryunus.files.wordpress.com/2012/08/fluorescent-pink-color-coded-label-lsq-400-fp.gif", size: "32x32"), {action: 'search', controller: 'pages'}%>


<%#= link_to image_tag("user.png", class: "profile-img"), image_path("user.png"), class: "colorbox" %>
<div id="div1"> </div>