<% if  @images.present? %>
    <div class="panel panel-default">
      <div class="panel-heading"> <h4>Related images <small> of category you selected ..</small></h4></div>
      <div class="panel-body">
        <% @images.each do |image| %>
            <a href="#{image.image.url}">
              <%=link_to image_tag(image,:size => "100x100"), image ,class: "set-space" %>
            </a>
        <% end %> 
     </div> 
    </div>   
<% else %>

 <br/>
  <div class="alert alert-warning" role="alert"><%= "Please select the category" %></div>
<% end %>  
