<!DOCTYPE html>
<html>
<head>
  <title>Rails3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>  

  <%= csrf_meta_tags %>
</head>
<body >
<nav class="navbar navbar-inverse" role="navigation"> 
  <ul class="nav nav-pills"> 
   fsfsfsd
  </ul> 
</nav>
<div class="container">
  <%#= flash_messages %>
     <%= yield %>
</div>

